<?xml version="1.0" encoding="UTF-8"?>

<!--
  ~ Copyright (c) 2012. SZ7thRoad.TechSupport All Right Reserved.
  -->

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>

    <display-name>UserPlatform Web Application</display-name>
    <filter>
        <filter-name>GuiceFilter</filter-name>
        <filter-class>com.sz7road.userplatform.AtomicFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>GuiceFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <listener>
        <listener-class>com.sz7road.userplatform.ServletContextListener</listener-class>
    </listener>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
